{% extends 'header.html' %}
{% block content %}
<h2 class="product_heder">Add a new Customer </h2>

{% if alert %}
    <script>alert("Customer Already Exists! If you don't think so - Please contact Raghav!")</script>
{% endif %}


<div class="container col-md-10">
    <form  method="POST">
    {% csrf_token %}

      {% for field in customer_form %}
        <div class="form-group row">
            <label for="id_{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>

            <div class="col-10">

                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-6">
                <button type="submit" class="btn btn-primary">Add Customer</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}