{% extends 'header.html' %}
{% block content %}
<h2 class="product_heder">Add a new Product </h2>

{% if alert %}
    <script>alert("Product Already Exists! If you don't think so - Please contact Raghav!")</script>
{% endif %}

<div class="container col-md-10">
    <form class="new-product-form" method="POST">
    {% csrf_token %}

      {% for field in product_form %}
        <div class="form-group row">
            <label for="id_{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>

            <div class="col-10">

                {{ field }}
            </div>
        </div>
        {% endfor %}

    <table class="table">
        <thead>
            <td>Name</td>
            <td>Quantity</td>
        </thead>
        <tbody class="table-body ingredient-box">
            <tr class="form-group table-row ingredient-form">
                <td>{{ ingredient_form.ingredient }}</td>
                <td>{{ ingredient_form.quantity }}</td>
            </tr>
        </tbody>
    </table>
    
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-6">
                <button class="btn btn-primary add_ingredient">Add More Ingredient</button>
                <button type="submit"  class="btn btn-primary">Add Product</button>
            </div>
        </div>
    </form>
</div>


<script>
    $(".add_ingredient").click(
        function (e) {
            e.preventDefault();
            e.stopPropagation();
            var form = $(".ingredient-form:first");
            let clone = form.clone();
            $(clone).appendTo(".ingredient-box");
            $(clone.children()[0].children).val(false)
            $(clone.children()[1].children).val(false)
        }
    );

</script>

{% endblock %}