{% extends 'header.html' %}
{% block content %}
<h2 class="product_heder">Take New Order </h2>

{% if alert %}
    <script>alert("Order Already Exists! If you don't think so - Please contact Raghav!")</script>
{% endif %}

{#<p>TODO: Select Customer or Add New Customer, open live form below to add customer details.</p>#}
<div class="container col-md-10">
    <form  method="POST">
    {% csrf_token %}

      {% for field in order_form %}
        <div class="form-group row">
            <label for="id_{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>

            <div class="col-10">

                {{ field }}
                {% if field.label == 'Customer' %}
                    <a href="{% url 'add_customer' %}" class=".btn-sm" role="button" aria-pressed="true"> + Add Customer</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <table class="table">
        <thead>
            <td>Product Name</td>
            <td>Quantity</td>
        </thead>
        <tbody class="table-body product-box">
            <tr class="form-group table-row product-form">
                <td>{{ orderitem_form.product_id }}</td>
                <td>{{ orderitem_form.quantity }}</td>
            </tr>
        </tbody>
    </table>

        <div class="form-group row">
            <div class="offset-sm-2 col-sm-6">
                <button class="btn btn-secondary add_product">Add More Product</button>
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-sm-2 col-sm-6">
                <button type="submit" class="btn btn-primary">Add Order</button>
            </div>
        </div>
    </form>
</div>


<script>
    $(".add_product").click(
        function (e) {
            e.preventDefault();
            e.stopPropagation();
            var form = $(".product-form:first");
            let clone = form.clone();
            $(clone).appendTo(".product-box");
            $(clone.children()[0].children).val(false)
            $(clone.children()[1].children).val(false)
        }
    );
</script>

{% endblock %}