{% extends 'header.html' %}
{% block content %}

<h2 class="product_heder">Add a new Product </h2>

{% if alert %}
    <script>alert("Product Already Exists! If you don't think so - Please contact Raghav!")</script>
{% endif %}

<div class="container col-md-10">
    <form method="POST">
    {% csrf_token %}
      {% for field in product_form %}
        <div class="form-group row">
            <label for="id_{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>

            <div class="col-10">

                {{ field }}
            </div>
        </div>
        {% endfor %}


    <h5>Add Ingredient</h5><br>
    <form method="POST">
        {% csrf_token %}
        {{ formset.as_p }}
        <button name="add_more_ingredient" type="submit" class="btn btn-secondary">Add More</button>
    </form>
    <br>

        <div class="form-group row">
            <div class="offset-sm-2 col-sm-6">
                <button name="add_product" type="submit" class="btn btn-primary">Add Product</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}