{% extends 'header.html' %}
{% block content %}
<h2 class="product_header">Edit Order </h2>

{% if alert %}
    <script>alert("Order Already Exists! If you don't think so - Please contact Raghav!")</script>
{% endif %}

<p class="text alert-warning"> You cannot edit Order products. Please delete this order and create new order if you indent to do that.</p>

{#<p>TODO: Select Customer or Add New Customer, open live form below to add customer details.</p>#}
<div class="container col-md-10">
    <form  method="POST">
    {% csrf_token %}

      {% for field in order_form %}
        <div class="form-group row">
            <label for="id_{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>

            <div class="col-10">

                {{ field }}
                {% if field.label == 'Customer' %}
                    <a href="{% url 'add_customer' %}" class=".btn-sm" role="button" aria-pressed="true"> + Add Customer</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    <div class="form-group row">
            <div class="offset-sm-2 col-sm-6">
                <button type="submit" class="btn btn-primary">Edit Order</button>
            </div>
    </div>
    </form>
</div>

{% endblock %}