<!DOCTYPE html>
<html lang="en">

<head>
	<title>KBH</title>
	<meta charset="utf-8" />
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Karan's Bake House</a>
{#      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">#}
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="http://www.raghavchopra.com" target="blank">Made with Love by Raghav Chopra</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                  <span data-feather="home"></span>
                  Home <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href='{% url 'products' %}'>
                  <span data-feather="shopping-cart"></span>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href='{% url 'customers' %}'>
                  <span data-feather="users"></span>
                  Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Other Items</span>
              <a class="d-flex align-items-center text-muted" href="#">
{#                <span data-feather="plus-circle"></span>#}
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href='{% url 'ingredients'%}'>
                  <span data-feather="file-text"></span>
                  Ingredients
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href='{% url 'overheads' %}'>
                  <span data-feather="file-text"></span>
                  Overheads
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href='{% url 'categories' %}'>
                  <span data-feather="file-text"></span>
                  Product Categories
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Stats
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Recipes
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Sales and Inventory Management Tool of Karan's Bake House</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
{#                <button class="btn btn-sm btn-outline-secondary">Share</button>#}
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
{#              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">#}
{#                <span data-feather="calendar"></span>#}
{#                This week#}
{#              </button>#}
            </div>
          </div>

{#          <canvas class="my-4" id="myChart" width="900" height="380"></canvas>#}
          {% if user.is_authenticated %}
              <p>You are logged in </p>
              <p>Hey there: {{ user.username }}, Howdy</p>
{#              <p><a href="{% url 'logout' %}">Logout Here</a></p>#}
              <p><button onclick="location.href='{% url 'logout' %}'" class="btn btn-dark" style="float: right;">Logout</button></p>
              {% block content %}
              {% endblock %}
          {% else %}
              <p>You are not logged in</p>
              <p>Please <a href="{% url 'login' %}">login</a> here</p>
          {% endif %}
        {% block content1 %}
        {% endblock %}
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<a href="https://www.instagram.com/karansbakehouse/" target="blank">Instagram</a> | <a href="https://www.facebook.com/karansbakehouse/" target="blank">Facebook</a></p>
		</div>
	</footer>
  </body>

</html>