{% extends 'header.html' %}

{% block content1 %}

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <centre class="w3-col m6 w3-padding-large w3-hide-small">
     {% load static %}
        <center><img src="{% static 'images/kbh_logo_new.png' %}" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="550" height="450"></center>
    </centre>
  </div>

<!-- End page content -->
</div>


{% endblock %}