{% extends 'header.html' %}

{% block content %}
<h1>Products</h1>
<br>
<div class="buttion_place" align="right">
    <a href="{% url 'add_product' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> + Add Product</a>
</div>
<br>
<br>
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Category</th>
        <th>Cost Price</th>
        <th>Selling Price(%)</th>
        <th>Edit Product</th>
        <th>Delete Product</th>
    </tr>
    </thead>
    <tbody>

    {% for product in products %}

        <tr>
            <th>
                <a href="{% url 'product_detail' product.pk %}">
                    {{ forloop.counter }}
                </a>
            </th>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.cost_price }}</td>
            <td>{{ product.selling_price }}</td>
            <td><a href="{% url 'edit_product' product_id=product.id %}"><button type="button" class="btn btn-default badge-dark"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit</button> </a> </td>
            <td><a href="{% url 'delete_product' product_id=product.id %}"><button type="button" class="btn btn-default badge-danger"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Delete</button> </a> </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}